.controls__color.black {
  background: #000;
}

.controls__color.white {
  background: #fff;
}

.controls__color.red {
  background: #ff0000;
}

.controls__color.orange {
  background: #ffa500;
}

.controls__color.yellow {
  background: #ffff00;
}

.controls__color.green {
  background: #008000;
}

.controls__color.sky {
  background: #00dfff;
}

.controls__color.blue {
  background: #0000ff;
}

.controls__color.purple {
  background: #800080;
}
