.body__container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    h1 {
      background: rgba(116, 185, 255, 1);
      padding: 15px;
      border-radius: 30px;
      font-size: 2rem;
      color: #fff;
    }
    margin-bottom: 30px;
  }
  main {
    .loginBox {
      display: none;
      &.show {
        display: block;
      }
    }
    .gameBox {
      display: none;
      .canvasBox {
        margin-right: 50px;
      }
      .chatBox {
        font-size: 18px;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        ul {
          width: 250px;
          height: 95%;
          li {
            .author {
              &.user {
                color: red;
              }
              &.me {
                color: blue;
              }
            }
          }
        }
      }
      &.show {
        display: flex;
      }
    }
  }
}
