* {
  box-sizing: border-box;
}

form {
  width: 100%;
  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    background: #74b9ff;
    color: #fff;
    &::placeholder {
      color: #fff;
    }
  }
}
