@keyframes notification {
  0% {
    top: -100px;
  }
  10% {
    top: 20px;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}

.notification {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  left: 20px;
  color: #fff;
  animation: notification 2.5s ease-in-out forwards;
}
